@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lexend Deca", sans-serif;
  font-size: 62.5%;
}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-content: center;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  width: 70%;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);

  border-radius: 10px;
}

.card {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.card--sedan {
  background-color: var(--bright-orange);
}

.card--suv {
  background-color: var(--dark-cyan);
}

.card--luxury {
  background-color: var(--very-dark-cyan);
}

.card__header {
  color: var(--transparent-white);
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
}

.card__img {
  width: 30%;
}

.card__description {
  color: var(--very-light);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}

.card__btn {
  margin-top: 4rem;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 10rem;
  width: 70%;
  height: 4rem;
  font-size: 1.4rem;
  transition: all ease 0.3s;
}

.card--sedan .card__btn {
  color: var(--bright-orange);
}

.card--sedan .card__btn:hover {
  background-color: var(--bright-orange);
  color: var(--very-light);
  border: 3px solid var(--very-light);
}

.card--suv .card__btn {
  color: var(--dark-cyan);
}

.card--suv .card__btn:hover {
  background-color: var(--dark-cyan);
  color: var(--very-light);
  border: 3px solid var(--very-light);
}
.card--luxury .card__btn {
  color: var(--very-dark-cyan);
}

.card--luxury .card__btn:hover {
  background-color: var(--very-dark-cyan);
  color: var(--very-light);
  border: 3px solid var(--very-light);
}

.card:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(1, 1fr);

    height: 100vh;
    width: 100%;
  }

  .card:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .card:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
